* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #FFF;
    background-color: #000;
    text-align: center;
}

h2 {
    font-weight: bolder;
    font-size: 24px;
}

a {
    font-size: 24px;
}

p {
    font-size: 18px;
}

img {
    height: auto;
    width: 400px;
}